<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des tâches</title>
</head>
<style>
    table {
        border: 1px black solid;
        background-color: aquamarine;
        padding: 10px 30px;
        margin: 10px 10px;
    }
    
    th {
        border: 1px black solid;
        padding: 10px 30px;
    }
    td {
        border: 1px black solid;
        padding: 10px 30px;
    }
</style>
<body>
    <p>Liste des tâches : </p>
    <table>
        <tr>
            <th width="75px">ID</th>
            <th width="75px">Nom</th>
            <th width="150px">Description</th>
            <th width="75px">Date</th>
            <th>Action</th>
        </tr>

        {% for task in result %}
    <tr>
        <td width="100px">{{ task['_id'] }}</td>
        <td width="100px">{{ task['nom'] }}</td>
        <td width="100px">{{ task['desc'] }}</td>
        <td width="100px">{{ task['date'] }}</td>
        <td>
            <form action="/del_task" method="post">
                <input type="hidden" name="key" value="{{ task['_id'] }}">
                <input type="submit" value="Supprimer">
            </form>
        </td>
        <td>
            <form action="/edit_task" method="post">
                <input type="text" name="task" placeholder="Changer nom de la tâche" value="">
                <input type="hidden" name="key" value="{{ task['_id'] }}">
                <input type="submit" value="Editer">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
    
</body>
</html>